@media only screen and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  /* ----------- Navbar --------- */
  .navbar_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    position: fixed;
    width: 100%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: #0000001a;
    padding: 0 2%;
    z-index: 9999;
    transition: background 0.6s;
    top: 0;
  }

  .nav-mobile-menu {
    position: absolute;
    height: 100vh;
    background-color: black;
  }

  .home_section {
    padding: 0% 2vh;
  }

  .home_content {
    padding-top: 10vh;
    flex-direction: column;
  }

  .right_container {
    width: 100%;
    height: 50vh;
    gap: 3vh;
  }

  .left_container {
    width: 100%;
    height: 50vh;
  }

  .right_container h1 {
    width: 81%;
    max-width: 100%;
    font-size: 4vh;
    letter-spacing: 0;
    line-height: 1;
  }

  .intro_subText {
    letter-spacing: 0.2vh;
    font-size: 1.5vh;
  }

  .btn_title {
    font-size: 2vh;
    white-space: nowrap;
  }

  .link_container {
    padding: 1vh 1vh 1vh 3vh;
  }

  .btnIcon_style {
    height: 5vh;
    width: 5vh;
  }

  .btn_icon {
    font-size: 3vh;
  }

  .sub_text {
    font-size: 1rem;
  }
}