.service_section {
  border-top: 0.5px solid #ffffff18;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 20;
  background-color: black;
}

.service_section .title {
  font-size: 6rem;
  color: #ffff;
  text-align: center;
  padding-top: 4rem;
}

.service_section .subtitle {
  font-size: 1rem;
  text-align: center;
  padding-top: 4rem;
}

.services_card_container {
  display: flex;
  gap: 3rem;
  padding: 4rem 2rem;
}

.service_card {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border: 1px solid #ffffff1a;
  background-color: #595b731a;
  border-radius: 1.25rem;
  padding: 3.25rem;
  display: flex;
  flex-direction: column;
  width: 33.33%;
  gap: 4vh;
  transition: all 1s ease;
}

.service_title {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.service_title p {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2vh;
  font-size: 1rem;
}

.service_title p::before {
  content: "";
  display: block;
  width: 2.25rem;
  height: 2px;
  background-color: var(--white);
  opacity: .3;
}

.service_card .service_title h2 {
  font-size: 3rem;
  font-family: 'Space Grotesk';
  font-weight: 400;
  color: var(--white);
}

.service_desc {
  color: var(--white);
  opacity: 0.6;
  font-size: 2vh;
}

.service_card:hover {
  /* background-color: red; */
  transform: rotate3d(1, 1, 5, 5deg);
}