#move {
  display: flex;
  gap: 20px;
  overflow: hidden;
  white-space: nowrap;
  background-color: yellow;
}

.marquee {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  animation: marquee 15s linear infinite;
}

.marquee img {
  width: 30px;
  height: auto;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}