@import "rsuite/dist/rsuite.css";

.service_container {
  width: 100%;
  position: relative;
  height: 100vh;
  z-index: 20;
  background-color: black;
}

.service_gradient_circle {
  z-index: -1;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, var(--green), #0000);
  opacity: .25;
  filter: blur(50px);
  border-radius: 100%;
  flex: 0 auto;
  width: 30rem;
  height: 20rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: auto 0% 0%;
}

.service_gradient_circle2 {
  z-index: -1;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, var(--blue), #0000);
  opacity: .3;
  filter: blur(80px);
  border-radius: 100%;
  flex: 0 auto;
  width: 30rem;
  height: 30rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: auto 0% 0% -30rem;
}